manifest {
    author = 'Vivek Appadurai | vivek.appadurai@regionh.dk'
    description = 'ProtoPsych PGS - PGS pipeline developed for the LF grant'
    mainScript = 'main.nf'
}

executor {
    name = 'slurm'
    submitRateLimit = '1 sec'
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    clusterOptions = '--account=proto_psych_pgs'
}

env {
    NXF_OPTS = "-Xms2g -Xmx4g"
}

process {
    withLabel: big_mem {
        cpus = 1
        memory = 32.GB
        time = '8h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}

process {
    withLabel: mod_mem {
        cpus = 1
        memory = 8.GB
        time = '2h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}

process {
    withLabel: low_mem {
        cpus = 1
        memory = 2.GB
        time = '1h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}