manifest {
    author = 'Vivek Appadurai | vivek.appadurai@regionh.dk'
    description = 'ProtoPsych PGS - PGS pipeline developed for the LF grant'
    mainScript = 'main.nf'
}

executor {
    name = 'slurm'
    submitRateLimit = '1 sec'
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    errorStrategy = 'retry'
    maxRetries = 2
}

env {
    NXF_OPTS = "-Xms2g -Xmx4g"
}

process {
    withLabel: big_mem {
        cpus = 1
        memory = { 32.GB * task.attempt }
        time = '8h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}

process {
    withLabel: mod_mem {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = '2h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}

process {
    withLabel: low_mem {
        cpus = 1
        memory = { 2.GB * task.attempt }
        time = '1h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}