manifest {
    author = 'Vivek Appadurai | vivek.appadurai@regionh.dk'
    description = 'ProtoPsych PGS - PGS pipeline developed for the LF grant'
    mainScript = 'main.nf'
}

// Hard-coded paths that might change, depending on cluster/storage

params {
    split_gwas_path         = "$projectDir/bin/splitCleanSumStatsVcf.py"
    prscs_path              = "$projectDir/bin/PRScs/PRScs.py"
    sbayesr_path            = "$projectDir/bin/gctb_2.03beta_Linux/gctb"
    plink_path              = "$projectDir/bin/plink2"
    prsice_path             = "$projectDir/bin/PRSice_linux"
    eval_scores_path        = "$projectDir/bin/evaluate_pgs.R"
    prsice_col_checker      = "$projectDir/bin/fill_missing_cols_prsice.R"
    ref                     = "/faststorage/jail/project/proto_psych_pgs/data/reference_gwas/PGC_SCZ_2014.vcf.gz"
    pheno                   = "/faststorage/jail/project/proto_psych_pgs/data/phenotypes/SCZ.pheno"
    covs                    = "/faststorage/jail/project/proto_psych_pgs/data/phenotypes/iPSYCH2015.covariates"
    binary                  = "T"
    n                       = 77096
    n_cases                 = 33640
    prevalence              = 0.1
    params.p_vals           = "5e-8,1e-6,0.05,1"
    params.help             = false
    target                  = "$projectDir/JSON/iPSYCH2012_All_Imputed_2021_QCed.json"
    sbayesr_ukbb_hm3_eur_ld = "$projectDir/JSON/sBayesR_UKBB_Hapmap3.json"
    sbayesr_ukbb_big_eur_ld = "$projectDir/JSON/sBayesR_UKBB_2.5M.json"
    prscs_1000G_hm3_eur_ld  = "$projectDir/JSON/PRSCS_1000Genomes_Hapmap3.json"
    prscs_ukbb_hm3_eur_ld   = "$projectDir/JSON/PRSCS_UKBB_Hapmap3.json"
}

executor {
    name = 'slurm'
    submitRateLimit = '1 sec'
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    errorStrategy = 'retry'
    maxRetries = 2
}

env {
    NXF_OPTS = "-Xms2g -Xmx4g"
}

process {
    withLabel: big_mem {
        cpus = 1
        memory = { 32.GB * task.attempt }
        time = '8h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}

process {
    withLabel: mod_mem {
        cpus = 1
        memory = { 8.GB * task.attempt }
        time = '2h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}

process {
    withLabel: low_mem {
        cpus = 1
        memory = { 2.GB * task.attempt }
        time = '1h'
        clusterOptions = '--account=proto_psych_pgs'
    }
}